body {
  margin: 0;
  font-family: 'Open Sans', Roboto, Arial, Helvetica, sans-serif;
}

nav {
  padding: 15px;
}

a {
  text-decoration-line: none;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}