<nav class="main-nav blue-bg light-text">
  <a routerLink="/">
    <span class="nav-title">What to do</span>
  </a>

  <div class="float-right" *ngIf="afAuth.authState | async">
    <a routerLink="/">
      <i class="fa fa-list"></i>
      <span class="small-font">Mis Listas</span>
    </a>
    <a routerLink="" (click)="logout()">
      <i class="fa fa-close"></i>
      <span class="small-font">Cerrar Sesión</span>
    </a>
  </div>
</nav>

<router-outlet></router-outlet>